VITE_SUPABASE_URL= https://xwcagxfeictyhwevwsps.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh3Y2FneGZlaWN0eWh3ZXZ3c3BzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NjUzNTQsImV4cCI6MjA5NzE0MTM1NH0.1qGFgSc7BVDBs8pcWdID6FpI5mhsA377dBDREqcU8RM
